.highlight{
    display: inline;
    background: -webkit-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    padding: 5px;
    border-radius: 6px;
    color: #ffffff;
    transition: 0s background;
    font-weight: bold;

    
}

.highlight:hover {
    background: -webkit-linear-gradient(90deg, #FE6B8B 30%, #FF8E53 90%);
    -webkit-box-shadow: 0 0 14px 0 rgba(254,107,139,0.35);
    box-shadow: 0 0 14px 0 rgba(254,107,139,0.35);
    transition-delay: 2s;
}