.bodyLink {
    text-align: center;
    width: 100%;
    margin: auto;
    background-size: 100%;
    
}
.headerLink {
    padding: 70px;
    font-size: 12pt;
    color: white;
    line-height: 0.8;

}

h6 {
    font-size:30px;
    margin:0px;
    color: white;
    line-height: 1.2;
    text-align: center;
}