.visibledevice {
  display:none;
}
.visibledesktop {
  display:display;
}

@media (max-width : 1017px) {
    .visibledevice {
      display:inline-block;
      width: 150%;
    }
    .visibledesktop {
      display:none;}
}

.App {
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 5vh 20vh 5vh 20vh;
  margin: auto;
  width:75%;
}
.main {
  margin: auto;
  width:80%;
}
.footer {
  height:3rem;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#FE6B8B 30%, #FF8E53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  text-align: center;
}
h2 {
  display:inline-block;
  background: 
   linear-gradient(to left, #FE6B8B 30%, #FF8E53 90%),
   linear-gradient(to left,  #FE6B8B 30%, #FF8E53 90%);
  background-size:100% 6px;
  background-position:bottom 0 left 0,bottom 0px left 0;
  background-repeat:no-repeat;
}