:root {
    --hilfling-background-color: linear-gradient(100deg, #f4f4f4, #e9e9e9);
    --hilfling-font-color: #213442;
    --hilfling-header-color: #7e7e7e;
    --hilfling-link-color: #ad2f33;
    --hilfling-max-width: 1500px;
    --hilfling-default-padding: 2rem;
    --hilfling-card-background-color: #f3f3f3;
  
    --hilfling-samfundet-red: #ba202c;
    --hilfling-uka-yellow: #fee040;
    --hilfling-isfit-blue: #09c;
    --hilfling-annet-orange: #feb640;
  
    --hilfling-header-height: 120px;
    --hilfling-main-nav-height: 50px;
  
    --font-size: 16px;
    --font-size-small: 12px;
    --font-size-large: 18px;
  
    --hilfling-color-red: #b52026;
    --hilfling-color-black: #1b1b1b;
    --hilfling-color-gray: #ebebeb;
    --hilfling-color-light-gray: #f4f4f4;
    --hilfling-color-white: #fff;
  
    --color-red-1: #951b20;
    --color-red-2: #a51e23;
    --color-red-3: #b52026;
    --color-red-4: #bb3439;
    --color-red-5: #c2484d;
  
    --color-light-gray-1: #f2f5f7;
    --color-light-gray-2: #e8eef2;
    --color-light-gray-3: #dae0e5;
    --color-light-gray-4: #d0d9e0;
    --color-light-gray-5: #ced6da;
  
    --color-gray-1: #aaa;
    --color-gray-2: #bbb;
    --color-gray-3: #ccc;
    --color-gray-4: #ddd;
    --color-gray-5: #eee;
  
    --color-dark-gray-1: #555;
    --color-dark-gray-2: #666;
    --color-dark-gray-3: #777;
    --color-dark-gray-4: #888;
    --color-dark-gray-5: #999;
  
    --color-black: #000;
    --color-white: #fff;
  }